@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home";
}

<div class="row pb-5">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-md-6 col-12">
            <div class="row p-2">
                <div class="col-12 p-1" style="border: 1px solid #000; border-radius:5px;">
                    <div class="card">
                        <img src="@product.ImageUrl" class="card-img-top rounded"/>
                        <div class="card-body">
                            <div>
                                <p class="card-title h5 text-primary">@product.Title</p>
                                <p class="card-title text-info"><b>@product.Author</b></p>
                            </div>
                            <div>
                                <p class="card-title h5 text-primary">List Price: $ <strike><b>@product.ListPrice.ToString("0.00")</b></strike></p>
                            </div>
                            <div>
                                <p class="card-title h5 text-primary">Price: $<b>@product.Price.ToString("0.00")</b></p>
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-primary form-control" asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-productId="@product.Id">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>